body {
  background-image: url("love_cofee.jpg");
  background-repeat: no-repeat;
  background-color: black;

}

  .Devuelto{
    background-color: #46BFBD;
  }
  #buscador{
    padding-left: 128px;
  }

  #milibro{
    margin-bottom: 12px;
  }
  .table{
    background-color: #fff;
    opacity: 0.8;
    border-radius: 8px;
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
  }
  
  .statistics-table{
    width: 100%; 
  }
  .titulo{
    background-color: #fff;
    opacity: 0.8;
    border-radius: 8px;
    padding-bottom: 5px;

  }

  .modal-content{
    background-image: url('love_cofee.jpg');
    color: #fff;
  }

  .biografia{
    padding: 15px;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 8px;
    margin-top: 30px;
  }

  .dropdown{
    color: black;
  }