<div class="container-fluid">
  <div class="row" id="milibro">
    <div class="col-md-2 col-md-offset-5 titulo">
      <h1 class="text-center">Mis Libros</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button class="btn titulo" data-toggle="modal" data-target="#modal_books">Agregar Libro</button>
    </div>
    <div class="col-md-10" id="buscador">
      <input type="text" style="width: 600px" class="form-control text-center" ng-model="searchWord" placeholder="Buscar libro por: Titulo, Autor, ISBN">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <table class="table table-bordered">
          <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Isbn</th>
            <th>Estado</th>
          </tr>        
          <tr ng-repeat="book in booksArray | filter: searchWord">
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.isbn}}</td>
            <td>{{book.status}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="modal fade " id='modal_books'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span style="color:white" class="glyphicon glyphicon-remove-circle"></span>
          </button>
          <h4 class="modal-title text-center">Agregar Libro</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 col-md-offset-2 control-label">Titulo</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Titulo" ng-model="title">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-md-offset-2 control-label">Autor</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Autor" ng-model="author">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-md-offset-2 control-label">Isbn</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Codigo de referencia" ng-model="isbn">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-5 col-sm-10">
                <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="createBook()">Añadir</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
