<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-4 titulo">
      <h1 class="text-center">Mis Amigos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button class="btn titulo" data-toggle="modal" data-target="#modal_friend">Agregar Amigo</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <table class="table table-bordered">
          <tr> 
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Email</th>
          </tr>        
          <tr ng-repeat="friend in friendsArray">
            <td>{{friend.name}}</td>
            <td>{{friend.last_name}}</td>
            <td>{{friend.phone}}</td>
            <td>{{friend.email}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="modal fade " id='modal_friend'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span style="color:white" class="glyphicon glyphicon-remove-circle"></span>
          </button>
          <h4 class="modal-title text-center">Agregar Amigo</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 col-md-offset-2 control-label">Nombre</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Nombre" ng-model="name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-md-offset-2 control-label">Apellido</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Apellido" ng-model="last_name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-md-offset-2 control-label">Telefono</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Telefono" ng-model="phone">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-md-offset-2 control-label">Email</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Email" ng-model="email">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-5 col-sm-10">
                <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="createFriend()">Añadir</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>