<div class="container-fluid">  
  <div class="row">
    <div class="col-md-3 col-md-offset-4 titulo">
      <h1 class="text-center">Mis Prestamos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button class="btn titulo" data-toggle="modal" data-target="#modal_loans">Prestar Libro</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <table class="table table-bordered">
          <tr>
            <th>Amigo</th>
            <th>Libro</th>
            <th>Prestado el:</th>
            <th>Entregar el:</th>
            <th>Estado</th>
          </tr>        
          <tr ng-repeat="loan in loansArray">
            <td>{{loan.name}} {{loan.last_name}}</td>
            <td>{{loan.book}}</td>
            <td>{{loan.created_at}}</td>
            <td>{{loan.deadline}}</td>
            <td>{{loan.status}}</td>
            <td><button class="btn btn-primary" ng-click="return($index ,loan)">Devolver</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="modal fade " id='modal_loans'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span style="color:white" class="glyphicon glyphicon-remove-circle"></span>
          </button>
          <h4 class="modal-title text-center">Prestar Libro</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 col-md-offset-2 control-label">Amigo</label>
              <div class="col-sm-6">              
                <select class="form-control btn" ng-model="friendSelected" ng-options="friend.name for friend in friendsArray">
                  <option value="">Selecciona un amigo</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-md-offset-2 control-label">Libros</label>
              <div class="col-sm-6">
                <select class="form-control btn" ng-model="bookSelected" ng-options="book.title for book in booksArray">
                  <option value="">Selecciona un libro</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-5 col-sm-10">
                <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="createLoan()">Prestar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>