<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-inverted" style="background-color: #F8F8F8">
        <div class="container-fluid">
          <div>
            <ul class="nav navbar-nav">
              <li>
                <a href="" ng-click="goTo('main.welcome')" style="color: black">Home</a>
              </li>            
              <li>
                <a href="" ng-click="goTo('main.books')" style="color: black">Mis libros</a>
              </li>
              <li>
                <a href="" ng-click="goTo('main.friends')" style="color: black">Mis amigos</a>
              </li>
              <li>
                <a href="" ng-click="goTo('main.loans')" style="color: black">Mis prestamos</a>
              </li>
              <li>
                <a href="" ng-click="goTo('main.statistics')" style="color: black">Estadisticas</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <a href="" class="navbar-brand" ng-click="goTo('main.welcome')"><img style="width: 30px;" alt="Brand" src="styles/bookicon.png"></a>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div ui-view></div>
</div>