<div class="container-fluid">  
  <div class="row">
    <div class="col-md-3 col-md-offset-4 titulo">
      <h1 class="text-center">Mis estadisticas</h1>
      <h4 class="text-center">Prestados vs. Disponibles</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="col-md-12">
        <div class="container-fluid">
          <table class="table statistics-table">
              <tr> 
                <th>Nombre</th>
                <th>Libro</th>
              </tr>        
              <tr ng-repeat="friend in loanArray | orderBy:'-status'">
                <td ng-class="friend.status">{{friend.name}}</td>
                <td ng-class="friend.status">{{friend.book}}</td>
              </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="chart-container">
        <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colours="colours" chart-legend="false" width="300" height="150" >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 col-md-offset-3 titulo" style="margin-bottom: 20px; magin-top: 20px;">
      <h1 class="text-center">Estadisticas de Mis Amigos</h1>
      <h4 class="text-center">Por devolver vs. Devueltos</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <select class="form-control btn" ng-model="friendSelected" ng-change="drawGraph()" ng-options="friend.name for friend in friendList">
        <option value="">Selecciona un amigo</option>
      </select>
    </div> 
    <div class="col-md-8">
      <div class="chart-container">
        <canvas id="doughnut" class="chart chart-doughnut" chart-data="dataFriend" chart-labels="labelsFriend" chart-colours="colours" chart-legend="false" width="300" height="150" >
      </div>
    </div>      
  </div>
</div>
