<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 titulo">
      <h1 class="text-center">DevuélveMe</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 biografia">
      <p>
        <h1 class="text-center">¡Bienvenido!</h1>
      </p>
      <p>
        <h4 class="text-justify">Para todos aquellos amantes de la lectura uno de los principales problemas que se
        presentan es… ¡Prestar un libro!</h4>
      </p>
      <p>
        <h4 class="text-justify">  Al prestar un libro, no hay garantía alguna que ese libro
        regrese a nuestras manos o, peor aún, en el mismo momento que lo prestemos lo demos ya
        por perdido ¡Bon voyage!</h4>
      </p>
      <p>
        <h4 class="text-justify"> Es por esto que te presentamos DevuélveMe.</h4>
      </p>
      <p>
        <h4 class="text-justify"> Aquí podrás llevar el control de los libros que posees, los que has prestado y visualizar estadísticas interesantes con respecto a los prestamos. Ademas de contar con un sistema que te permite agregar amigos y administrar los prestamos echos al mismo</h4>
      </p>
    </div>
  </div>
</div>